.page {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--rpt-bg);
  font-family: var(--rpt-font);
  color: var(--rpt-text);
}
.mapArea {
  flex: 1;
  position: relative;
}
.map {
  width: 100%;
  height: 100%;
}
